aioconsole==0.6.2
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.3
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
Flask==3.0.0
frozenlist==1.4.0
gunicorn==21.2.0
idna==3.4
installer==0.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
packaging==23.1
pybluez2 @ git+https://github.com/airgproducts/pybluez2.git@b505f9b9ed2a109b8489fe266d76c4b0f38e57ee
pygame==2.5.2
pygbag==0.8.2
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-libdispatch==10.0
pyparsing==3.1.1
requests==2.31.0
token-utils==0.1.8
urllib3==2.0.7
Werkzeug==3.0.0
yarl==1.9.2
